
:root {
  --boardsize: 50px;
  --margin: 2px;
}

body {
  padding: 50px;
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
}

b {
  color: RED;
}

.circle {
  width: var(--boardsize);
  height: var(--boardsize);
  border-radius: 50%;
  background-color: white;
  float: right;
  margin: 2px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.column {
  height: calc(6 * var(--boardsize) + 7 * 2 * var(--margin));
  width: var(--boardsize);
  opacity: 50%;
  float: left;
  padding: 2px;
}

#columns {
  position: absolute;
  width: calc(7 * var(--boardsize) + 7 * 2 * var(--margin));
  height: calc(6 * var(--boardsize) + 6 * 2 * var(--margin));

  top: 0;
}

.column:hover {
  background-color: red;
}

#board {
  width: calc(7 * var(--boardsize) + 7 * 2 * var(--margin));
  height: calc(6 * var(--boardsize) + 6 * 2 * var(--margin));
  background-color: blue;
  padding: 10px;
  position: relative;
}
